
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f1b3d, #0a102a);
  font-family: Arial, sans-serif;
}

.pbox {
  background: rgba(20, 30, 60, 0.95);
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px; 
  box-shadow: 
      0 0 20px rgba(93, 153, 202, 0.4),
      0 0 40px rgba(112, 164, 207, 0.3);
  color: white;
}
.buttons button {
    padding: 8px 15px;
    margin-right: 10px;
    border: none;
    background-color: #d3d9e0;
    color: rgb(20, 16, 16);
    border-radius: 5px;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #4e9dc2;
}