body {
  display : flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.box {
  background-color: rgb(34, 36, 36);;
  height: 550px;
  width: 500px;
  display : flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 3px solid #2b2a2a;
  box-shadow: 0 0 40px #2b2a2a;
}
.img {
   height: 200px;
   width: 200px;
   border-radius: 50%;
   object-fit: cover;
}
.txt {
  color: rgb(231, 238, 238);
  font: 1em sans-serif;
  padding: 10px 25px;
}
.txt h1 {
    margin-bottom: 20px;
}
.txt h3 {
    margin-bottom: 20px;
}
.txt p {
    margin-top: 5px;
    font-size: 14px;
}
.buttons button {
    padding: 8px 15px;
    margin-right: 10px;
    border: none;
    background-color: #d3d9e0;
    color: rgb(20, 16, 16);
    border-radius: 5px;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #a7daf1;
}